<div class="panel panel-default sidebar">
  <div class="panel-heading">
    {{x-button}}
    <h3>{{#link-to 'index'}}HOMEPAGE{{/link-to}}</h3>
    <h3>{{#link-to 'news'}}NEWS{{/link-to}}</h3>
    <h3>{{#link-to 'entertainment'}}ENTERTAINMENT{{/link-to}}</h3>
    <h3>{{#link-to 'fashion'}}FASHION & BEAUTY{{/link-to}}</h3>
    <h3>{{#link-to 'lifestyle'}}LIFESTYLE{{/link-to}}</h3>
    <h3>{{#link-to 'books'}}BOOKS{{/link-to}}</h3>
    <h3>{{#link-to 'charts'}}FLOWCHARTS{{/link-to}}</h3>
  </div>
  <div class="panel-body">
    <h3>{{#link-to 'about'}}ABOUT US{{/link-to}}</h3>
    <h3>{{#link-to 'advertise'}}ADVERTISE{{/link-to}}</h3>
    <h3>{{#link-to 'apps'}}APPS{{/link-to}}</h3>
    <h3>{{#link-to 'labs'}}LABS{{/link-to}}</h3>
    <h3>{{#link-to 'terms'}}TERMS{{/link-to}}</h3>
    <h3>{{#link-to 'privacy'}}PRIVACY{{/link-to}}</h3>
    <h3>{{#link-to 'dmca'}}DMCA{{/link-to}}</h3>
    <h3>{{#link-to 'contact'}}CONTACT{{/link-to}}</h3>
  </div>
</div>

<div class="container">
  <img class="img-responsive center-block" src="../img/ad.png" />
</div>

<nav class="navbar navbar-default">
  <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          {{nav-button}}
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav navbar-right space-right">
              <li class="social"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="social"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="social"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
              <li class="social"><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </div>
    </nav>

<div class="container">
  {{outlet}}
</div>
