{{side-bar}}

<div class="container">
  <img class="img-responsive center-block" src="../img/ad.png" />
</div>

<nav class="navbar navbar-default">
  <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          {{nav-button}}
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav navbar-right space-right">
              <li class="social"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="social"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="social"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
              <li class="social"><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </div>
    </nav>

<div class="container">
  {{outlet}}
</div>
